input {
  border-bottom: solid black !important;
  padding: 0 !important;
  padding-bottom: 0.2rem !important;
}

input:focus {
  border-bottom: solid #6c9c50 !important;
  box-shadow: none !important;
}

label {
  margin-top: 0rem;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
}

input:focus + label,
input:not(:placeholder-shown) + label {
  font-size: 1rem;
  margin-top: -1.4rem;
  color: #6c9c50;
}

input:not(:placeholder-shown) + label {
  color: black;
}
